<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    
    
    
</head>
<body>   
    {% include 'navbar.html' %} 
    
    {% block content %}
    
    {% endblock %}


</body>
</html>
